@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                IconType="IconType.Material"
                SuccessClass="success-toast-override"
                ShowProgressBar="true"
                RemoveToastsOnNavigation="true"
                Timeout="3" />
<div class="container py-3">
    @Body
</div>
